body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Libre Baskerville', serif;
  color: var(--color-dark);
}

* {
  box-sizing: inherit;
}

:root {
  --color-primary: #344969;
  --color-accent: #a7d6d3;
  --color-dark: #223843;
  --color-white: #eff1f3;
  --color-light: #9ba7c0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.main-hero {
  background-image: url('/images/hero.jpg');

  height: 100vh;
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-hero .main-hero-msg {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.3em;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

@media screen and (max-width: 350px) {
  .main-hero .main-hero-msg {
    font-size: 20px;
  }
}

.paper {
  border: 10px solid var(--color-primary);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  padding: 10px;
}
