body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*font-family: 'Libre Baskerville', serif;*/
  font-family: 'Raleway', sans-serif;
  color: var(--body-text);
}

* {
  box-sizing: inherit;
}

:root {
  --color-primary: #138BFC;
  --color-accent: #60D3FF;
  --color-primary-light: #A3ECFF;
  --body-text: #212121;
  --secondary-text: #757575;
  --white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.main-hero {
  background-image: url('../images/hero.jpg');

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.after-hero {
  margin-top: 100vh;
}

.main-hero .main-hero-msg {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.3em;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

@media screen and (max-width: 350px) {
  .main-hero .main-hero-msg {
    font-size: 20px;
  }
}

nav {
  transition:.5s;

  width: 100%;
  height: 10vh;
  z-index: 1;
  position: fixed;
  top: 0;
}

.flex-container {
  padding-left: 5%;
  padding-right: 5%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

nav a:hover {
}


.stuck * {
  background: var(--white);
  color: var(--body-text);
  /*box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);*/
}

.paper {
  z-index: -1;
  background-color: var(--white);
  padding: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

h2 {
  margin: 0;
}

.dark-section {
  padding: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-accent);
  color: var(--white);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10vh;
  text-align: center;
  font-size: 20px;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, 0%) rotate(45deg);
}

