body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Libre Baskerville', serif;
  color: var(--color-dark);
}

* {
  box-sizing: inherit;
}

:root {
  --color-primary: #344969;
  --color-accent: #a7d6d3;
  --color-dark: #223843;
  --color-white: #eff1f3;
  --color-light: #9ba7c0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.main-hero {
  background-image: url('../images/hero.jpg');

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.after-hero {
  margin-top: 100vh;
}

.main-hero .main-hero-msg {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.3em;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

@media screen and (max-width: 350px) {
  .main-hero .main-hero-msg {
    font-size: 20px;
  }
}

nav {
  background: var(--color-primary);
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.flex-container {
  padding-left: 5%;
  padding-right: 5%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--color-white);
}

nav a:hover {
}


.stuck {
  box-shadow: 0 0 9px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
}

.paper {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  background-color: var(--color-white);
  padding: 10px;
  padding-top: 100px;
}

h2 {
  margin: 0;
}

.dark-section {
  padding: 10px;
  background-color: var(--color-dark);
  color: var(--color-white);
}
